/* Custom Font style */
@font-face {
	font-family: 'Futura PT light';
	src: url("../font/FuturaPTLight.otf");
}
@font-face {
	font-family: 'Futura PT medium';
	src: url("../font/FuturaPTMedium.otf");
}
@font-face {
	font-family: 'Futura PT bold';
	src: url("../font/FuturaPTBold.otf");
}
@font-face {
	font-family: 'Futura PT book';
	src: url("../font/FuturaPTBook.otf");
}
@font-face {
	font-family: 'Futura PT Heavy';
	src: url("../font/FuturaPTHeavy.otf");
}
/* Global style */
body {
	font-family: 'Futura PT medium';
	font-size: 16px;
	line-height: 1.5;
  justify-content: center;
  align-items: center;
  min-height:  100vh;
  background: #000;
  
}
/* Reset style */
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0;
}
ul, li {
	margin: 0;
	padding: 0;
}
/* Fine global style */

/* Banner style */
#Banner .logo {
  position: absolute;
  top: 25%;
  left: 16%;
  opacity: 0;
}
#Banner {
	width: 0;
	height: 100vh;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e64741+0,e6255d+100,7db9e8+100 */
	background: #e64741; /* Old browsers */
	background: -moz-linear-gradient(top, #e64741 0%, #e6255d 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e64741 0%,#e6255d 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e64741 0%,#e6255d 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64741', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
	position: relative;
}
body.active #Banner .logo {
	opacity: 1;
	top: 47%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
}
body.active #Banner  {
	width: 100%;
	transition:  ease-in-out all 0.5s;
}
body.active #Banner .blacksection::before  {
	height: 2000px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
	-ms-transition-delay: 1s;
}
body.active #Banner h1  {
	opacity: 1;
	right: 15%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.5s;
	-ms-transition-delay: 1.5s;
}
#Banner h1 {
	color: #fff;
	font-size: 80px;
	font-family: 'Futura PT book';
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: right;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  opacity: 0;
}
#Banner .blacksection::before {
  width: 2000px;
  height: 0;
  background-color: #000;
  position: absolute;
  right: -1000px;
  transform: rotate(124deg);
  -ms-transform: rotate(124deg);
  content: "";
  top: 0;
}
.mscroll {
	opacity: 0;
	position: absolute;
	text-align: center;
	display: inline-block;
}
body.active .mscroll {
	opacity: 1;
	bottom: 14%;
	left: 50%;
	transition: all 0.5s;
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.75s;
	-ms-transition-delay: 1.75s;
}
.mobile-header, .mobile-logo {
	display: none;
}
.mobile-header img {
	width: 100%;
	height: auto;
}
#sidebar-wrapper {
	top: 0;
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #333f4f;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-nav {
	position: absolute;
	margin: 0;
	padding: 0 20px 0 0;
	list-style: none;
	text-align: right;
	width: 100%;
	top: 5%;
}
#sidebar-wrapper .sidebar-nav li.sidebar-nav-item a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 200%;
}
#sidebar-wrapper .sidebar-nav li a:hover {
  text-decoration: none;
  color: #e6275c;
  transition: all 0.3s;
}
#sidebar-wrapper .sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
  text-decoration: none;
  color: #e6275c;
  transition: all 0.3s;
}
#sidebar-wrapper .sidebar-nav>.sidebar-brand {
  font-size: 20px;
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
#sidebar-wrapper .sidebar-nav>.sidebar-brand a {
  color: #fff;
}
#sidebar-wrapper .sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.menu-toggle {
  position: fixed;
  right: 30px;
  top: 30px;
  padding: 4px 10px;
  text-align: center;
  color: #fff;
  background: #000;
  z-index: 999;
  width: 56px;
  height: 50px;
  line-height: 51px;
}
.menu-toggle i {
	font-size: 30px;
	line-height: 40px;
}
.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}
.menu-toggle:hover, .menu-toggle.active {
  background: #e6275c;
}
/* Fine banner style */

/*Cerchio colorato che gira*/
.loader_wavy_rainbow
{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(175deg);
}
.loader_wavy_rainbow span
{
  position: absolute;
  top: calc(12px * var(--i));
  left: calc(12px * var(--i));
  right: calc(12px * var(--i));
  bottom: calc(12px * var(--i));
  border: 10px solid #0b0b0b;
  border-top: 10px solid #0f0;
  border-left: 10px solid #0f0;
  border-radius: 50%;
  animation: animate 2s alternate ease-in-out infinite;
  filter: hue-rotate(calc(45deg * var(--i)));
  animation-delay: calc(-0.1s * var(--i))
}
@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(90deg);
  }
}
/*Fine cerchio colorato che gira*/

/*Wavy circle*/
.loader_wavy_circle
{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(60deg);
}
.loader_wavy_circle span
{
  position: absolute;
  display: block;
  border: 5px solid #fff;
  box-shadow: 0 5px 0 #ccc,
              inset 0 5px 0 #ccc;
  box-sizing: border-box;
  border-radius: 50%;
  animation: animate_wavy_circle 3s ease-in-out infinite;
}
@keyframes animate_wavy_circle
{
  0%,100%
  {
      transform: translateZ(-100px);
  }
  50%
  {
      transform: translateZ(100px);
  }

}
.loader_wavy_circle span:nth-child(1)
{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-delay: 1.4s;
}
.loader_wavy_circle span:nth-child(2)
{
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  animation-delay: 1.3s;
}
.loader_wavy_circle span:nth-child(3)
{
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  animation-delay: 1.2s;
}
.loader_wavy_circle span:nth-child(4)
{
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  animation-delay: 1.1s;
}
.loader_wavy_circle span:nth-child(5)
{
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  animation-delay: 1s;
}
.loader_wavy_circle span:nth-child(6)
{
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  animation-delay: 0.9s;
}
.loader_wavy_circle span:nth-child(7)
{
  top: 60px;
  left: 60px;
  bottom: 60px;
  right: 60px;
  animation-delay: 0.8s;
}
.loader_wavy_circle span:nth-child(8)
{
  top: 70px;
  left: 70px;
  bottom: 70px;
  right: 70px;
  animation-delay: 0.7s;
}
.loader_wavy_circle span:nth-child(9)
{
  top: 80px;
  left: 80px;
  bottom: 80px;
  right: 80px;
  animation-delay: 0.6s;
}
.loader_wavy_circle span:nth-child(10)
{
  top: 90px;
  left: 90px;
  bottom: 90px;
  right: 90px;
  animation-delay: 0.5s;
}
.loader_wavy_circle span:nth-child(11)
{
  top: 100px;
  left: 100px;
  bottom: 100px;
  right: 100px;
  animation-delay: 0.4s;
}
.loader_wavy_circle span:nth-child(12)
{
  top: 110px;
  left: 110px;
  bottom: 110px;
  right: 110px;
  animation-delay: 0.3s;
}
.loader_wavy_circle span:nth-child(13)
{
  top: 120px;
  left: 120px;
  bottom: 120px;
  right: 120px;
  animation-delay: 0.2s;
}
.loader_wavy_circle span:nth-child(14)
{
  top: 130px;
  left: 130px;
  bottom: 130px;
  right: 130px;
  animation-delay: 0.1s;
}
.loader_wavy_circle span:nth-child(15)
{
  top: 140px;
  left: 140px;
  bottom: 140px;
  right: 140px;
  animation-delay: 0s;
}
/*Fine wavy circle*/

/* Helix loader */
.x
{
  margin-top: 20%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 300px;
  height: 300px;
}
.helix-wrapper{
  position: relative;
  float: left;
  margin: 140px 100px;
}
.line{
  position: absolute;
  top: 0px;
  width: 2px;
  height: 8px;
  background-color: red;
}
.circle{
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blue;
}
.circle-top{
  top: 0px;
  left: -3.5px;
}
.circle-bottom{
  bottom: 0px;
  left: -3.5px;
}
.dot{
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: -1.5px;
}
.line1{
  margin-left: 0px;
  background-color: #2410CB;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > span{
  background-color: #D4141E;
}
.line1 > .dotted > .dot{
  background-color: #D4141E;
}
.line1 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line2{
  margin-left: 35px;
  background-color: #852DF4;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > span{
  background-color: #FC7E48;
}
.line2 > .dotted > .dot{
  background-color: #FC7E48;
}
.line2 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line3{
  margin-left: 70px;
  background-color: #F42DF1;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > span{
  background-color: #EDEB29;
}
.line3 > .dotted > .dot{
  background-color: #EDEB29;
}
.line3 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line4{
  margin-left: 105px;
  background-color: #F91396;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > span{
  background-color: #ACED29;
}
.line4 > .dotted > .dot{
  background-color: #ACED29;
}
.line4 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line5{
  margin-left: 140px;
  background-color: #D4141E;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > span{
  background-color: #4EF02B;
}
.line5 > .dotted > .dot{
  background-color: #4EF02B;
}
.line5 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line6{
  margin-left: 175px;
  background-color: #FC7E48;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > span{
  background-color: #38E790;
}
.line6 > .dotted > .dot{
  background-color: #38E790;
}
.line6 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line7{
  margin-left: 210px;
  background-color: #EDEB29;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > span{
  background-color: #25EACC;
}
.line7 > .dotted > .dot{
  background-color: #25EACC;
}
.line7 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line8{
  margin-left: 245px;
  background-color: #ACED29;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > span{
  background-color: #309CDF;
}
.line8 > .dotted > .dot{
  background-color: #309CDF;
}
.line8 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line9{
  margin-left: 280px;
  background-color: #4EF02B;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > span{
  background-color: #2544E7;
}
.line9 > .dotted > .dot{
  background-color: #2544E7;
}
.line9 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line10{
  margin-left: 315px;
  background-color: #38E790;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > span{
  background-color: #852DF4;
}
.line10 > .dotted > .dot{
  background-color: #852DF4;
}
.line10 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line11{
  margin-left: 350px;
  background-color: #25EACC;
  -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
  animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > span{
  background-color: #F42DF1;
}
.line11 > .dotted > .dot{
  background-color: #F42DF1;
}
.line11 > .dotted > .dot-top{
  top: 0px;
  -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
  animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;

}
.line11 > .dotted > .dot-bottom{
  bottom: 0px;
  -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
  animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > .dotted > .dot-middle-top{
  top: 0px;
  -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
  animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > .dotted > .dot-middle-bottom{
  bottom: 0px;
  -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
  animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
@-webkit-keyframes line{
  0%{height: 4px; top: 0px; left: 0px; -webkit-transform: rotate(-65deg)}
  10%{height: 220px; top: -110px; left: 15px;}
  45%{height: 200px; top: -100px; left: 25px;}
  70%{height: 8px; top: 0px; left: 25px; -webkit-transform: rotate(0deg);}
  100%{height: 8px; top: 0px; left: 15px; -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes dot-top{
  0%{top: -30px}
  10%{top: -30px;}
  45%{top: -25px;}
  60%{top: 0px;}
  100%{top: 0px;}
}
@-webkit-keyframes dot-bottom{
  0%{bottom: -30px}
  10%{bottom: -30px;}
  45%{bottom: -25px;}
  60%{bottom: 0px;}
  100%{bottom: 0px;}
}
@-webkit-keyframes dot-middle-top{
  0%{}
  10%{}
  45%{top: 98px;}
  70%{top: -50px;}
  85%{top: 0px;}
  100%{top: 0px;}
}
@-webkit-keyframes dot-middle-bottom{
  0%{}
  10%{}
  45%{bottom: 98px;}
  70%{bottom: -50px;}
  85%{bottom: 0px;}
  100%{bottom: 0px;}
}
@keyframes line{
  0%{height: 4px; top: 0px; left: 0px; transform: rotate(-65deg)}
  10%{height: 220px; top: -110px; left: 15px;}
  45%{height: 200px; top: -100px; left: 25px;}
  70%{height: 8px; top: 0px; left: 25px; transform: rotate(0deg);}
  100%{height: 8px; top: 0px; left: 15px; transform: rotate(0deg);}
}
@keyframes dot-top{
  0%{top: -30px}
  10%{top: -30px;}
  45%{top: -25px;}
  60%{top: 0px;}
  100%{top: 0px;}
}
@keyframes dot-bottom{
  0%{bottom: -30px}
  10%{bottom: -30px;}
  45%{bottom: -25px;}
  60%{bottom: 0px;}
  100%{bottom: 0px;}
}
@keyframes dot-middle-top{
  0%{}
  10%{}
  45%{top: 78px;}
  70%{top: -50px;}
  85%{top: 0px;}
  100%{top: 0px;}
}
@keyframes dot-middle-bottom{
  0%{}
  10%{}
  45%{bottom: 78px;}
  70%{bottom: -50px;}
  85%{bottom: 0px;}
  100%{bottom: 0px;}
}
/* Fine Helix loader */

/* Rainbow Loading */
.load
{
  margin-top: 10%;
  margin-bottom: 20%;
  position: fixed;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  animation: rainbow 10s linear infinite;
}
@keyframes rainbow
{
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(360deg);
  }
}
.load span
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}
.load span::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 80px #00ff0a,
              0 0 100px #00ff0a;
  animation: rainbow-loading-animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes rainbow-loading-animate
{
  0%
  {
    transform: scale(1);
  }
  80%,100%
  {
    transform: scale(0);
  }
}
/* Rainbow Loading */

/*Bottone Neon*/
:root {
  --clr-neon: hsl(347, 100%, 50%);
  --clr-bg: hsl(323 21% 16%);
}
*::before,
*::after {
  box-sizing: border-box;
}
.button
{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 300px;
  height: 300px;
}
.neon-button
{
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}
.neon-button::before
{
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.neon-button::after
{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}
.neon-button:hover,
.neon-button:focus
{
  color: var(--clr-bg);
  text-shadow: none;
}
.neon-button:hover::before,
.neon-button:focus::before
{
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after
{
  opacity: 1;
}
/*Fine bottone Neon*/

/* Footer */
#Contact {
	text-align: center;
	padding: 70px 0 50px 0;
	background-color: #0b0b0b;
}
#Contact p {
  color: #c7c5ca;
  font-size: 40px;
  margin-bottom: 30px;
}
#Contact a.email-btn {
  color: #fff;
  background-color: #f46674;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 6px;
  font-size: 28px;
  width: 240px;
}
#Contact a.email-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#Contact a.email-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#Contact a.email-btn:hover span {
  padding-right: 25px;
}
#Contact a.email-btn:hover span:after {
  opacity: 1;
  right: 0;
}
#Contact a i {
	margin-right: 14px;
}
.social-icons {
  margin-top: 50px;
}
.social-icons li {
  display: inline-block;
  margin: 0 16px;
} 
.social-icons li a {
	display: block;
}
.social-icons li i {
  color: #c3c3cb;
  font-size: 34px;
  transition: all 0.3s;
}
.social-icons li i:hover {
  transform: scale(1.3);
}
.copyright {
	background-color: #1d1c1c;
	padding: 26px 0;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.copyright p {
	margin-bottom: 0;
}
/* Fine footer */